<section id="experience" class="w-full max-w-5xl mx-auto px-4 sm:px-8 md:px-10">
  <div class="py-16">
    <div class="flex flex-col gap-4 items-center text-center">
      <h2 class="text-contrast-light dark:text-contrast-dark text-[22px] font-bold leading-tight tracking-[-0.015em]">Over 20 Years of Proven Experience</h2>
      <p class="text-base font-normal leading-normal max-w-2xl">Leveraging two decades of hands-on experience to deliver robust, efficient, and innovative solutions for the most complex engineering projects.</p>
    </div>
    <div class="mt-12 flow-root">
      <div class="-my-8">
         <!-- Item 1 -->
        <div class="relative py-8">
          <div class="absolute left-1/2 top-2 h-full w-px bg-slate-300 dark:bg-slate-700"></div>
          <div class="relative flex items-center justify-between">
            <div class="w-2/5 pr-8 text-right">
              <h4 class="font-bold text-contrast-light dark:text-contrast-dark">ORACLE APEX Reports for Smartplant Reference Data</h4>
              <p class="text-sm">Developing customized, client-oriented reports for Hexagon SmartPlant Reference Data using Oracle APEX.</p>
            </div>
            <div class="absolute left-1/2 z-10 -ml-2 h-4 w-4 rounded-full bg-primary"></div>
            <div class="w-2/5"></div>
          </div>
        </div>
        <!-- Item 2 -->
        <div class="relative py-8">
          <div class="absolute left-1/2 top-2 h-full w-px bg-slate-300 dark:bg-slate-700"></div>
          <div class="relative flex items-center justify-between">
            <div class="w-2/5"></div>
            <div class="absolute left-1/2 z-10 -ml-2 h-4 w-4 rounded-full bg-primary"></div>
            <div class="w-2/5 pl-8 text-left">
              <h4 class="font-bold text-contrast-light dark:text-contrast-dark">3D - P&ID Itergraion</h4>
              <p class="text-sm">Design and development of a custom P&ID–3D integration solution to enhance data consistency.</p>
            </div>
          </div>
        </div>
        <!-- Item 1 -->
        <div class="relative py-8">
          <div class="absolute left-1/2 top-2 h-full w-px bg-slate-300 dark:bg-slate-700"></div>
          <div class="relative flex items-center justify-between">
            <div class="w-2/5 pr-8 text-right">
              <h4 class="font-bold text-contrast-light dark:text-contrast-dark">AI/Data Engineering projects</h4>
              <p class="text-sm">Computer Vision (Image Segmentation): Developed a model to identify whether a subsurface target is salt based on seismic imaging data.</p>
              <p class="text-sm">Machine Learning – Credit Scoring: Built and evaluated ML models for credit risk assessment and borrower scoring.</p>
              <p class="text-sm">Telecom User Analytics & Behavior Prediction: Analyzed mobile telecom user data to model customer behavior and predict usage patterns.</p>
              <p class="text-sm">Anomaly Detection / Biometrics: Implemented a artificial-neural-network-based system for biometric user identification using keystroke dynamics (typing rhythm). </p>
            </div>
            <div class="absolute left-1/2 z-10 -ml-2 h-4 w-4 rounded-full bg-primary"></div>
            <div class="w-2/5"></div>
          </div>
        </div>
        <!-- Item 2 -->
        <div class="relative py-8">
          <div class="absolute left-1/2 top-2 h-full w-px bg-slate-300 dark:bg-slate-700"></div>
          <div class="relative flex items-center justify-between">
            <div class="w-2/5"></div>
            <div class="absolute left-1/2 z-10 -ml-2 h-4 w-4 rounded-full bg-primary"></div>
            <div class="w-2/5 pl-8 text-left">
              <h4 class="font-bold text-contrast-light dark:text-contrast-dark">Smart 3D Piping Supports Catalog Creation</h4>
              <p class="text-sm">Development of specialized, client-oriented piping support catalogs for Smart 3D.</p>
            </div>
          </div>
        </div>
        <!-- Item 1 -->
        <div class="relative py-8">
          <div class="absolute left-1/2 top-2 h-full w-px bg-slate-300 dark:bg-slate-700"></div>
          <div class="relative flex items-center justify-between">
            <div class="w-2/5 pr-8 text-right">
              <h4 class="font-bold text-contrast-light dark:text-contrast-dark">Application Development</h4>
              <p class="text-sm">Development of multiple data and specification transfer tools, resulting in hundreds of project hours saved. Created applications for managing piping assets on construction sites</p>
            </div>
            <div class="absolute left-1/2 z-10 -ml-2 h-4 w-4 rounded-full bg-primary"></div>
            <div class="w-2/5"></div>
          </div>
        </div>
        <!-- Item 2 -->
        <div class="relative py-8">
          <div class="absolute left-1/2 top-2 h-full w-px bg-slate-300 dark:bg-slate-700"></div>
          <div class="relative flex items-center justify-between">
            <div class="w-2/5"></div>
            <div class="absolute left-1/2 z-10 -ml-2 h-4 w-4 rounded-full bg-primary"></div>
            <div class="w-2/5 pl-8 text-left">
              <h4 class="font-bold text-contrast-light dark:text-contrast-dark">Reference Data/Piping Spec Writing/Reporting</h4>
              <p class="text-sm">Managing and configuring SmartPlant environments for large-scale energy projects, ensuring data integrity and user efficiency.</p>
            </div>
          </div>
        </div>
        <!-- Item 3 -->
        <div class="relative py-8">
          <div class="absolute left-1/2 top-2 h-full w-px bg-slate-300 dark:bg-slate-700"></div>
          <div class="relative flex items-center justify-between">
            <div class="w-2/5 pr-8 text-right">
              <h4 class="font-bold text-contrast-light dark:text-contrast-dark">Smart 3D/Oracle/SQL Server Admin</h4>
              <p class="text-sm">Supporting and administrating CAD for over 100 engineering projects, ensuring stable workflows and reliable system performance.</p>
            </div>
            <div class="absolute left-1/2 z-10 -ml-2 h-4 w-4 rounded-full bg-primary"></div>
            <div class="w-2/5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
